---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="min-h-full bg-slate-900 text-white">
    <main>
      <h1 class="text-4xl">Some Astro Site</h1>
      <p>This is a paragraph</p>
    </main>
  </body>
</html>
