---
interface Props {
  class: string;
  href: string;
}
---

<a
  href={Astro.props.href}
  target="_blank"
  class={`no-underline p-2 rounded-xl grid place-items-center aspect-square cursor-pointer filter hover:brightness-125 active:brightness-75 ${Astro.props.class}`}
>
  <slot />
</a>
